# https://git-scm.com/docs/gitignore

# ---------------------------------------------------------------------
# DO NOT CHANGE THIS SECTION

# Dependencies
node_modules/

# Compiled output
dist/
build/
coverage/
.dart_tool/

# Generated at runtime
*.log
.cache

# Personal files
.idea

# System files
.DS_Store

# ---------------------------------------------------------------------
# Add specific rules here…

# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
