name: kinde_flutter_sdk
description: The Kinde SDK For Flutter.
version: 1.0.3
homepage: https://github.com/kinde-oss/kinde-flutter-sdk

environment:
  sdk: '>=2.17.0 <4.0.0'
  flutter: '>=3.0.0'

dependencies:
  flutter:
    sdk: flutter

  flutter_appauth: ^8.0.3
  hive: ^2.2.3
  flutter_secure_storage: ^8.0.0
  path_provider: ^2.0.15
  dio: ^5.0.0
  one_of_serializer: '>=1.5.0 <2.0.0'
  mockito: ^5.4.2
  shared_preferences: ^2.3.1
  oauth2: ^2.0.2
  jose: ^0.3.4
  pubspec_parse: ^1.5.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

  built_value_generator: '>=8.4.0 <9.0.0'
  build_runner: any
  test: ^1.16.0

flutter:
  plugin:
    platforms:
      android:
        package: com.kinde.kinde_flutter_sdk
        pluginClass: KindeFlutterSdkPlugin
      ios:
        pluginClass: KindeFlutterSdkPlugin
      linux:
        pluginClass: KindeFlutterSdkPlugin
      macos:
        pluginClass: KindeFlutterSdkPlugin
        pluginPath: macos
      windows:
        pluginClass: KindeFlutterSdkPluginCApi
      web:
        pluginClass: KindeFlutterWebSDK
        fileName: kinde_web_plugin.dart

  assets:
    - pubspec.yaml
