name: kinde_flutter_sdk
description: The Kinde SDK For Flutter.
version: 1.1.1
homepage: https://github.com/kinde-oss/kinde-flutter-sdk

environment:
  sdk: '>=3.9.2 <4.0.0'
  flutter: '>=3.35.6'

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter

  flutter_appauth: ^8.0.3
  hive: ^2.2.3
  flutter_secure_storage: ^9.0.0
  path_provider: ^2.1.4
  dio: ^5.7.0
  one_of_serializer: '>=1.5.0 <2.0.0'
  mockito: ^5.4.4
  shared_preferences: ^2.3.2
  oauth2: ^2.0.2
  jose: ^0.3.4
  pubspec_parse: ^1.3.0
  built_value: ^8.9.2
  built_collection: ^5.1.1
  http_mock_adapter: ^0.6.1
  crypto: ^3.0.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

  built_value_generator: ^8.9.2
  build_runner: ^2.4.13
  test: ^1.25.8

flutter:
  plugin:
    platforms:
      android:
        package: com.kinde.kinde_flutter_sdk
        pluginClass: KindeFlutterSdkPlugin
      ios:
        pluginClass: KindeFlutterSdkPlugin
      linux:
        pluginClass: KindeFlutterSdkPlugin
      macos:
        pluginClass: KindeFlutterSdkPlugin
        pluginPath: macos
      windows:
        pluginClass: KindeFlutterSdkPluginCApi
      web:
        pluginClass: KindeFlutterWebSDK
        fileName: kinde_web_plugin.dart

  assets:
    - pubspec.yaml
