name: CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  analyze_and_test:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:-:hash:'
          cache-path: '${{ runner.tool_cache }}/flutter/:channel:-:version:-:arch:'

      - name: Get Dependencies
        run: flutter pub get

      - name: Analyze Code
        run: flutter analyze --no-pub --no-fatal-infos --no-fatal-warnings --current-package

      - name: Run Tests
        run: flutter test --no-pub